<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>

        <body>
            <h1>All cats we have in our fam are :</h1>

            <ul>
                <% for(let cat of allCats ){ %>
                    <li>
                        <%= cat %>
                    </li>
                    <%}%>
            </ul>
        </body>

        <%- include("partials/footer.ejs") %>