<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs") %>

        <body>
            <section class="container">
                <h1>Hello every one your subredit is <%=subreddit%> is what you requested</h1>
            </section>
        </body>


        <%- include("partials/footer.ejs") %>