<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user comment</title>
</head>

<body style="text-align: center;">
    <h1>Hello this Home page >
    </h1>
    <form action="/comments" method="post">
        <section>
            <label for="fullName">Enter First Name : </label>
            <input type="text" name="fullName" id="fullName">
        </section>
        <section>
            <label for="comment">Enter Your Comment</label><br>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </section>
        <button type="submit">Submit</button>

    </form>
    <a href="/comments">back to home</a>
</body>

</html>